/* ogod help */
#first-block{
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 25px
}
#second-block{
	width:50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}