/* Universal CSS */

@import url(<link href=http://fonts.googleapis.com/css?family=Duru+Sans);


html, body {
	font-family: Duru Sans, sans-serif;
	margin: 0px;
	background: #999999  ;
	-webkit-backface-visibility: hidden;
}

div {
	display: block;
}

.header{
	position: relative;
	
	height: 160px;
	cursor: pointer;
}
#instructions{
	font-size: 35px;
}
.eastern-banner{
	position: relative;
	width: 35%;
	height: 150px;
}
.western-banner{
	position: relative;

	width: 35%;
	height: 150px;
}
#bar{
	
	width: 100%;
	background: #666C3F;
	color: #fff;
	z-index: 10;
}
#nav {
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #666C3F ;
	padding: 10px;
	border-bottom: 1px #000 solid;*/
	color: #fff;

}
#nav-item{
	font-size: 13px;
	color: #fff;
	transition:;
	-webkit-transition: linear 0.2s;
}

#nav a:hover {
	border-top: 2px #000 solid;
}

/* large headers */
h1 {
	background-color: #666C3F ;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
 
	display: inline-block;
	margin-bottom: -10px;
}

/*smaller headers */

h2 {
	background-color: #FA8320;
	padding: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 24pt;
	display: inline-block;
	margin-bottom: -8px;
	line-height: 30px;
}

/* sub headers */

h3 {
	font-weight: 700;
	font-style: italic;
	font-size: 14pt;
	margin: 10px;
	display: inline-block;

}

#content {
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
	line-height: 18pt;
	font-weight: 400;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

a:hover {
	color: #000;
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-weight: 400;
	font-size: 9pt;
	color: #AAA;
}
